.page{
    width: 780px;
    margin: auto;
    font-family: 'source sans pro', Calibri, Tahoma, sans-serif,
    font-size: 16px; 
}

.infophoto{
   height: 250px; 
}

.info{
    float: left;
}

.photo{
    float: right;
}